<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook Clone Group Project</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/style.css">
</head>
<body>
    <div class="container">
        <nav id="navwrapper">
            <h1 class="logowrapper" style="text-align:center">Bug Free Carnival</h1>
        </nav>

        <div class="container">
            <div class="dashboard tx-13">
                <div class="row">
                    <div class="col-12 grid-margin">
                        <div class="dashboard-header">
                            <div class="cover">
                                <div class="gray-shade"></div>
                                    <div class="cover-body d-flex justify-content-between align-items-center">
                                        <div>
                                            <!-- insert loggedIn users username -->
                                        </div>
                                        
                                    </div>
                    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row dashboard-body-left">
                <!-- left wrapper start -->
                <div class="d-none d-md-block col-md-4 col-xl-3 dashboard-left-wrapper">
                    <div class="card rounded">
                        <div class="card-body">
                            <div class="d-flex align-items-center justify-content-between mb-2">
                                <div class="card-title mb-0">placeholder</div>
                                <div class="left-content">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- post body -->
            <div class="col-md-8 col-xl-6 post-wrapper">
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        {{{ body }}}
                    </div>
                </div>
            </div>
            <!-- right wrapper start -->
            <div class="d-none d-xl-block col-xl-3 dashboard-body-right">
                <div class="row">
                    <div class="col-md-12 grid-margin">
                        <div class="card rounded">
                            <div class="card-body">
                                <h6 class="card-title">placeholder</h6>
                                <div class="right-content">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    

        <div class="footer-basic">
            <footer>
                <div class="social"><a href="https://github.com/dotdlew/bug-free-carnival"><i class="icon ion-social-linkedin"></i></a></div>
                <ul class="list-inline">
                    <li class="list-inline-item"><a href="https://github.com/javiddelossantos5">Javid</a></li>
                    <li class="list-inline-item"><a href="https://github.com/dotdlew">Daniel</a></li>
                    <li class="list-inline-item"><a href="https://github.com/rjhelm">Ryan</a></li>
                </ul>
                <p class="copyright">Project 2 Group 11 The Best</p>
            </footer>
        </div>
        
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="./assets/app.js"></script>
</body>
</html>