body {
    margin: 0;
    font-family: 'Lucida Grande', tahoma,verdana,arial,sans-serif;
    line-height: 1.28;
    box-sizing: border-box;
  }

  .container {

  }
  
  .content {
      height: 80vh;
  }

  #navwrapper {
    width: 100%;
    height: 82px;
    background-color: #3b5998;
  }
  
  #navbar {
    margin: 0 auto;
    width:980px;
    height:59px;
  }
  
  #contentwrapper {
    width: 100%;
    height: 606px;
    background-color: #edf0f5;
    height: 100vh;
  }
  
  #content {
    margin: 0 auto;
    width:980px;
    padding-top:20px;
  }
  
  h1, .footer {
    font-family: tahoma,verdana,arial,sans-serif;
    font-size: 38px;
    letter-spacing:0.05px;
    margin: 0;
    color:#fff;
    -webkit-font-smoothing: antialiased;
  }
  
  .logowrapper {
    display: block;
    padding: 30px 0;
  }
  
  #button {
    position:relative;
    width:45px;
    height:18px;
    background-color: #5b72a9;
    border: 1px solid #999;
    border-color:#8b9dc3 #2f477a #29447e #1a356e;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
    cursor:pointer;
    font-size:11px;
    font-weight:bold;
    text-align:center;
    color:#fff;
    margin-top: 10px;
  }
  
  .tablewrapper {
    float:right;
    margin-top:15px;
  }
  
  .row1 {
    
    color:#fff;
    font-size:11px;
    width:164px;
    cursor:pointer;
  }
  
  .inputtext {
    border-color: #1d2a5b;
    margin: 0;
    width: 142px;
    border: 1px solid #bdc7d8;
    margin: 0;
    padding: 3px;
    background-color: #FAFFBD;
    margin-top: 10px;
  }
  
  .row2 {
    
    color:#9daccb;
    font-size:11px;
    width:164px;
    cursor:pointer;
  }
  
  #leftbod {
    width:565px;
    display:inline-block;
  }
  
  .connect {
    width:409px;
    height: 72px;
    padding: 42px 0 24px;
    font-size: 26px;
    font-weight: 700;
    line-height: 36px;
    color: #333;
    display:inline-block;
  }
  
  .leftbar {
    
    padding-bottom:10px;
    margin-top:20px;
  }
  
  .iconwrap {
    margin-right:20px;
    width:55px;
    
  }
  
  .rowtext {
    font-size:16px;
    font-weight:bold;
    color:#333;
  }
  
  
  .fb1 {
    display:inline-block;
    vertical-align: middle;
  }
  
  .rowtext2 {
    font-size:15px;
    color:#666;
    margin-left:10px;
  }
  
  #rightbod {
    display:inline-block;
    vertical-align:top;
    width:399px;
    height:200px;
    float:right;
  }
  
  .signup {
    font-size:36px;
    -webkit-font-smoothing: antialiased;
    font-weight:700;
    margin-bottom:5px;
  }
  
  .bolder {
    font-family: 'Open Sans',sans-serif;
    text-rendering:optimizelegibility;
    color:#333;
  }
  
  .free {
    font-size:19px;
    margin-bottom:20px;
  }
  
  .formbox {
    display: inline-block;
    width:399px;
  }
  
  .inputbody {
    display: inline-block;
    font-size: 18px;
    padding: 8px 10px;
    border: 1px solid #bdc7d8;
  -webkit-border-radius: 5px;
    color:#333;
    margin-bottom:10px;
  }
  
  ::-webkit-input-placeholder {
     color: #999;
  }
  
  ::-moz-placeholder {
     color: #999;  
  }
  
  :-ms-input-placeholder {  
     color: #999;  
  }
  
  .in1 {
    width:172px;
  }
  
  .in2 {
    width:377px;
  }
  
  .fr {
    float:right;
  }
  
  .fl {
    float:left;
  }
  
  .bday {
    font-size:19px;
    color:#141823;
    -webkit-font-smoothing: antialiased;
    margin-bottom:5px;
  }
  
  .selectbody {
    display: inline-block;
    height:30px;
    font-size: 13px;
    border: 1px solid #bdc7d8;
    -webkit-border-radius: 5px;
    color:#141823;
   
  }
  
  .why {
    font-size: 11px;
    color: #3b5998;
    width:150px;
    margin-left:10px;
    cursor:pointer;
  }
  
  .h:hover {
    text-decoration: underline;
  }
  
  .gender {
    font-size: 18px;
    color: #141823;
    cursor: pointer;
    padding: 0 10px 0 3px;
    margin-right: 4px;
    line-height: 18px;
    vertical-align: middle;
  }
  
  .spanpad {
    padding: 5px 0 5px 4px;
    display: inline-block;
  }
  
  .mt1 {
    margin-top:15px;
  }
  
  .m0 {
    margin: 0;
  }
  
  .agree {
    font-size: 11px;
    color: #777;
    width:316px;
    margin: 11px 0 11px ;
  }
  
  .link {
    color:#3b5998;
    display: inline-block;
    cursor: pointer;
  }
  
  .signbut {
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 1px;
    color:#fff;
    min-width: 194px;
    padding: 7px 20px;
    text-align: center;
    -webkit-border-radius: 5px;
    background: -webkit-linear-gradient(#67ae55, #578843);
    -webkit-box-shadow: inset 0 1px 1px #a4e388;
    border: 1px solid;
  border-color: #3b6e22 #3b6e22 #2c5115;
    margin-top: 10px;
  margin-bottom: 10px;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
    cursor:pointer;
  }
  
  .signbut:hover {
    background: -webkit-linear-gradient(#79bc64, #578843);
  }
  
  .create {
    border-top: 1px solid #a0a9c0;
    color: #666;
    font-size: 13px;
    font-weight: bold;
    margin-top: 10px;
    padding-top: 15px;
  }
  
  .footer-basic {
    padding:40px 0;
    background-color:#ffffff;
    color:#4b4c4d;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
  }
  
  .dashboard .dashboard-header {
    box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
    border: 1px solid #f2f4f9;
}

.dashboard .dashboard-header .cover {
    position: relative;
    border-radius: .25rem .25rem 0 0;
}


.dashboard .dashboard-header .cover figure {
    margin-bottom: 0;
}

@media (max-width: 767px) {
  .dashboard .dashboard-header .cover figure {
      height: 110px;
      overflow: hidden;
  }
}

@media (min-width: 2400px) {
  .dashboard .dashboard-header .cover figure {
      height: 280px;
      overflow: hidden;
  }
}

/* .dashboard .dashboard-header .cover figure img {
  border-radius: .25rem .25rem 0 0;
  width: 100%;
} */

@media (max-width: 767px) {
  .dashboard .dashboard-header .cover figure img {
      -webkit-transform: scale(2);
      transform: scale(2);
      margin-top: 15px;
  }
}

@media (min-width: 2400px) {
  .dashboard .dashboard-header .cover figure img {
      margin-top: -55px;
  }
}

.dashboard .dashboard-header .cover .gray-shade {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: linear-gradient(rgba(255, 255, 255, 0.1), #fff 99%);
}

.dashboard .dashboard-header .cover .cover-body {
  position: absolute;
  bottom: -20px;
  left: 0;
  z-index: 2;
  width: 100%;
  padding: 0 20px;
}

/* .dashboard .dashboard-header .cover .cover-body .profile-pic {
  border-radius: 50%;
  width: 100px;
} */

@media (max-width: 767px) {
  .dashboard .dashboard-header .cover .cover-body /*.profile-pic */ { 
      width: 70px;
  }
}

.dashboard .dashboard-header .cover .cover-body /*.profile-name */{
  font-size: 20px;
  font-weight: 600;
  margin-left: 17px;
}

.dashboard .dashboard-header {
  padding: 15px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  background: #fff;
  border-radius: 0 0 .25rem .25rem;
}

.dashboard .dashboard-body .left-wrapper a {
  width: 30px;
  height: 30px;
}

.dashboard .dashboard-body .right-wrapper {
  margin-right: 0;
  margin-left: 0;
}

.dashboard .dashboard-body .right-wrapper {
  padding-left: 3px;
  padding-right: 3px;
}

.dashboard .dashboard-header .cover .cover-body {
  margin-left: 0;
  margin-right: 17px;
}

.grid-margin {
  margin-bottom: 1rem;
}

.card {
  box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
  -webkit-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
  -moz-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
  -ms-box-shadow: 0 0 10px 0 rgba(183, 192, 206, 0.2);
}
.rounded {
  border-radius: 0.25rem !important;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #f2f4f9;
  border-radius: 0.25rem;
}
